.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar a, .navbar button {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#out {
  float: right;
}

.navbar a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
